@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* mobile fist */
.hero {
	width: 100vw;
	height: 100vh;
	color: #fff;
	position: relative;
	transition: 1s;
	overflow: hidden;
	margin-bottom: 5px;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/mini-hero-small.jpg");
	background-position: center;
	background-size: cover;
	filter: grayscale();
}

.hero-content {
	width: 100%;
	position: absolute;
	bottom: 20px;
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 15px;
	z-index: 2;
}

.hero-title {
	font-family: "Roboto Slab", serif;
	font-size: 1.5rem;
	font-weight: 500;
    text-align: center;
}

.hero-description {
	font-weight: 200;
}

.hero-cta {
	padding: 15px 25px;
	background-color: var(--secondary-color);
	border-radius: 5px;
	color: #fff;
	border: none;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
	margin: 20px auto;
	width: 50%;
    font-size: 16px;
}

.menu {
	position: absolute;
	top: 6rem;
	right: 5rem;
	transition: 1s;
	transform: translateX(200px);
	color: transparent;
}

.menu-list {
	list-style: none;
	text-transform: capitalize;
}

.menu-list-item {
	margin-bottom: 20px;
	font-weight: 300;
	text-shadow: 0 2px 5px #000;
	font-size: 1.5rem;
	cursor: pointer;
}

.hamburger-area {
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	background-color: var(--main-color);
	border-bottom-left-radius: 30px;
	transition: 1s;
}

.full {
	width: 110%;
	height: 110%;
	background-color: rgba(0, 136, 202, .5);
}

.full ~ .menu {
	transform: translateX(0);
	color: #fff;
}

.hamburger-menu {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.bar {
	display: block;
	width: 90%;
	height: 2px;
	background-color: #fff;
}


/* desktop styles 450px+ */
@media screen and (min-width: 450px) {
    .hero::before {
        background-image: url("../assets/mini-hero.jpg");
    }

    .hero-content {
        width: 50%;
        top: 40px;
        left: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }

	.hero-title {
		font-size: 2rem;
		font-weight: 200;
	}

	.hero-description {
		font-size: 1.5rem;
		font-weight: 100;
	}

	.hero-cta {
        padding: 10px 20px;
		width: 40%;
        margin: 20px 0;
	}
}
