:root {
	--main-color: #0088ca;
	--secondary-color: rgba(255, 136, 0, 0.9);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	max-width: 100%;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: overlay;
	width: 100vw;
	min-height: 100vh;
	font-family: "Roboto Flex", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

section {
	margin-bottom: 3rem;
}



.orange {
	color: var(--secondary-color);
	font-weight: 400;
}
